
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Setup.Unit.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PriceListUI.Setup.UnitGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>